body, html {
    font-family: sans-serif;
    height: 100%;
    margin: 0;
    background: linear-gradient(-45deg, #454545, #000000, #454545, #000000);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    color: rgb(255, 255, 255);
    overflow-x: hidden;
}

.encabezado{
    position: relative;
    width: 100%;
    background-image: url('media/duneBanner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}



@keyframes gradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.encabezado h1 {
    font-size: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px;
    border-radius: 20px;
    position: absolute; 
    top: 5%; 
    left: 90%; 
}
.cuenta{
    display: flex;
    justify-content: right;
    gap: 1vw;

    top: 0;
    right: 0;

}
.btn-cuenta {
    
    margin-top: 20px;
    margin-right: 35px;
    background-color:transparent; 
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    font-size: larger; 
    text-transform: uppercase; 
    transition: all 0.2s;
    opacity: 100%;
    display: flex;
    align-items: center; 
    justify-content: center; 
    
}

.encabezado p{
    margin-top: 32px;
    font-weight: 900;
    font-size: 30px;
    color: #ffffff;
    opacity: 80%;
    
    
}
.usuario{
    width: 60px;
    height: 60px;
}

.btn-cuenta:hover {
    transform: scale(1.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    background-color: white; 
    color: black;
    border-color: transparent; 
}

.btn-cuenta:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    border-color: transparent;
}

.btn-compra {
    position: absolute; 
    right: 2%;
    bottom: 4%; 
    display: flex;
    padding: auto;
    align-items: center; 
    justify-content: center; 
    background-color: #ffffff; 
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1.6vh;
    font-weight: bolder;
    text-transform: uppercase;
    transition: all 0.2s; 
    width: 25vh;
    height: 4.5vh;
}

.btn-compra:hover {
    transform: scale(1.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    background-color: white; 
    color: black; 
    border-color: transparent;
}

.btn-compra:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    border-color: transparent;
}


.btn-cuenta:hover, .btn-compra:hover {
    background-color: #e2e6ea; 
    color: black;
    text-decoration: none;
    transform: scale(1.1);
}

.poster-pelicula {
    width: 100%;
    transition: transform 0.3s ease, box-shadow 0.3s ease, width 0.3s ease;
    height: auto;
}

.poster-pelicula:hover {
    transform: translateY(-50px);
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.2);
}

.pie-de-pagina {
    background-color: #1c1c1c;
    padding: 20px;
}

.pie-de-pagina p {
    margin: 0;
}

.seleccionar_cine {
    margin-top: 5vh;
    padding-left: 2vw;
    background-color: #5f5f5f; 
    color: white; 
    height: 5.5vh;
    border: none;
}

.seleccionar_cine option {
    background-color: #5f5f5f; 
    color: white; 
}

#promocionesCarrusel {
    width: 100vw; 
    margin-left: calc(-50vw + 50%); 
}

.carousel-inner {
    width: 100%; 
}

.h1 {
    font-size: 5vh; 
    font-weight: 800;
    margin-bottom: 1vh; 
}

.contenedor-datos {
    display: flex;
    height: 100vh;
}

.seccion-izquierda {
    background: linear-gradient(270deg, #000000, #545454);
    background-size: 400% 400%;
    animation: fondo 30s ease infinite;
    width: 50%;
    display: flex;
    flex-direction: column;
    color: white;
    overflow: hidden;
}

@keyframes fondo {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 51%; }
    100% { background-position: 0% 50%; }
}

.poster {
    width: 100%;
    height: 100%;
    object-fit: fixed;
}

.seccion-derecha {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo-pelicula {
    width: 50vw;  
    height: 25vh;
    max-height: 25vh;   
    border-bottom: 1px solid rgb(85, 85, 85);
    padding: 2vh;
    margin-bottom: 2vh;
}

.titulo-texto {
    font-size: 6vh;
    margin-bottom: 3%;
    color: white;
    font-weight: 900;
}

.descripcion-pelicula{
    font-size: 1.5vh;
}

.contenedor {
    margin-bottom: 5%;
    display: flex;
    width: 100%;
    flex-direction: column;
    padding-left: 1vh;
}

.btn-custom {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5vh 1.5vh;
    display: inline-block;
    border-radius: 20px;
    transition: all .2s;
    margin: 1vh 0;
    position: relative;
    cursor: pointer;
    border-color: white;
    color: white;
    font-weight: 600;
    font-size: 2vh;
    transition: transform 0.3s ease, box-shadow 0.3s ease, width 0.3s ease;
    }

.btn-custom:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    background-color: white;
    border-color: transparent;
}

.btn-custom:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    border-color: transparent;
}

.btn-cine, .btn-fecha, .btn-horario {
    border-radius: 20px;
    display: flexbox;
    text-align: center;
    padding: 1.5vh 1; 
}

.btn-cine {

    width: 12vw;
    height: 7vh;
    margin: .5vh;
}

.btn-fecha {
    width: 5vw;
    height: 8vh;
    margin: .5vh;
}

.btn-horario {
    width: 5vw;
    height: 6vh;
    margin: .5vh;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]:checked + label {
    background-color: #1DE782;
    color: white;
    border-color: transparent;
}

.botones_accion {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: auto;
    padding: 30px;
}
.btn-confirmar {
    background-color: #00c288;
    border-color: transparent;
}

.btn-salir:hover, .btn-confirmar:hover {
    background-color: white;
    border-color: transparent;
}
.btn-salir {
    background-color: #ff3b3b;
    border-color: transparent;
}


@media (max-width: 768px) {
    .contenedor-datos {
        flex-direction: column;
    }
    .seccion-izquierda {
        width: 100%;
        height: 100%;
        overflow: auto;
    }
    .seccion-derecha{
        display: none;
    }

    .titulo-pelicula{
        width: 100%;
    }
    .titulo-texto{
        font-size: 8vw;
    }
    .descripcion-pelicula{
        font-size: 1.5vh;
    }
    .btn-cine{
        width: 35vw;
    }
    .btn-horario{
        width: 15vw;
    }
    .btn-fecha{
        width: 15vw;
    }
 
    .poster {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
    .encabezado .usuario{
        width: 40px;
        height: 40px;
        margin-right: none;
    }
    .encabezado p{
        margin:none;
        font-size: 20px;
    }


    
}
